<div class="container text-center mt-5 mb-2">
  <h1>Sedia Produk Kesehatan dan Herbal</h1>
</div>
<div class="container my-2">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 400px">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="/public/img/meliapropolis.jpg" class="d-block w-100" alt="meliapropolis" />
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="/public/img/propolisadvantages.jpg" class="d-block w-100" alt="propolisadvantages" />
      </div>
      <div class="carousel-item">
        <img src="/public/img/propolisbenefits.jpg" class="d-block w-100" alt="propolisbenefits" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container text-center my-2 py-3 text-white bg-dark">
  <h1>Gratis Pengiriman</h1>
  <h3>Untuk Daerah Kec. Biringkanaya & Sekitarnya</h3>
</div>
<div class="container my-4">
  <h1 class="text-center">Pilih Produk</h1>
  <br />
  <div class="card-group">
    <div class="card">
      <a href="#">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Melia Propolis</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Melia Biyang</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">MCI Kalung Kesehatan</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </a>
    </div>
  </div>
</div>
